/* icon font*/

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-5xcmyi');
  src:url('fonts/icomoon.eot?#iefix-5xcmyi') format('embedded-opentype'),
    url('fonts/icomoon.woff?-5xcmyi') format('woff'),
    url('fonts/icomoon.ttf?-5xcmyi') format('truetype'),
    url('fonts/icomoon.svg?-5xcmyi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grid:before {
  content: "\e601";
}

.icon-microphone:before {
  content: "\e600";
}

/*General*/

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    font-family: arial;
    font-size: 13px;
}


/* Top navigation */

.nav {
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0px;
    padding-right: 30px;
    line-height: 24px;
}

.nav li {
    display: inline-block;
    list-style: none;
    padding: 0 8px;
    color: #404040;
}

.nav a {
    text-decoration: inherit;
    color: inherit;
}

.nav a:hover {
    text-decoration: underline;
}

li:nth-child(4n) {
      color: #878787;  
      font-size: 32px;
      position: relative;
      top: 6px; 
      right: 6px;  
}

.icon-grid:hover {
    color: rgb(68, 68, 68);
}

li:nth-child(5n){
    background-color: #4387FB;
    color: white;
    font-weight: bold;
    padding: 0 10px;
    border: solid #4387FB;
    border-radius: 2px;
}


/* Logo, Search, and Buttons */

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main img {
    height: 95px;
    width: 269px;
    padding-top: 195px;
}

.search {
    padding-top: 20px;     
}

input[type="search"] {
    height: 28px;
    width: 575px;
    border-style: solid;
    border-width: 0.9px;
    border-top-color:  rgb(192, 192, 192); 
    border-right-color: rgb(217, 217, 217);
    border-left-color: rgb(217, 217, 217);
    border-bottom-color: rgb(217, 217, 217);
}

.icon-microphone {
    color: #666;
    font-size: 18px;
    position: relative;
    left: -25px;
    top: 3px;
}

.buttons {
    text-align: center;
}

button {
    display: inline-block;
    padding: 8px;
    margin: 15px 8px;
    background-color: rgb(245, 245, 245);
    border: solid rgba(0, 0, 0, 0.0980392) 1px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 11px;
    color: rgb(68, 68, 68);
    line-height: 27px;
    padding: 0 8px;
}

/* Bottom Navigation */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F2F2F2;
    border-top: solid rgba(0, 0, 0, 0.0980392) 1px;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
    color: #878787;
}

footer a {
    text-decoration: inherit;
    color: inherit;
}

footer a:hover {
    text-decoration: underline;
}

.left {
    postion: absolute;
    bottom: 0;
    left: 0;
}

.left li {
    padding-left: 30px;
}

.right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.right li {
    padding-right: 30px;
}



